@import "../variables/dimensions";
@import "../variables/colors";
@import "icons";

.rc-form .form-group,
.form-element {
    margin-bottom: $default-padding;

    label {
        margin-bottom: $grid-gutter-width; //FIXME This style ruins layout of inline forms
        &.radio-inline,
        &.checkbox-inline {
            margin-bottom: 0;
        }
    }

    .checkbox, .radio {
        margin-top: 0;
        margin-bottom: 0;
        label {
            margin-bottom: 0;
            word-wrap: break-word;
        }
    }
}

.rc-form-inline {
    margin-left: (-$grid-gutter-width / 2);
    margin-right: (-$grid-gutter-width / 2);

    .form-group {
        margin-left: ($grid-gutter-width / 2);
        margin-right: ($grid-gutter-width / 2);
        margin-bottom: 0;
        //vertical-align: top; //FIXME Supposed to be top, uncomment when possible
    }

    label {
        margin-right: $grid-gutter-width;
        font-weight: normal;
    }

    .radio label,
    .checkbox label,
    label.checkbox-inline,
    label.radio-inline {
        margin-right: 0;
    }
}

.checkbox-inline,
.radio-inline,
.form-inline .radio,
.form-inline .checkbox {
    input {
        margin-right: 8px;
    }
}

.rc-form .rc-list-checkbox, .rc-list-checkbox,
.rc-form .rc-list-radio, .rc-list-radio {
    margin-bottom: 0;
    white-space: nowrap;
    .checkbox,
    .radio {
        margin: 0; // undo default margins on top and bottom
    }
}

.form-control {
    box-shadow: none;
}

textarea.form-control {
    resize: none;
}

.disabled-label {
    cursor: default !important;
}

.form-control-static {
    word-wrap: break-word;
}

$multiSelectBaseLeftGutter: $grid-gutter-width * 3;

.multi-select {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .master-option label {
        font-weight: bold;
    }
    .dropdown-toggle {
        .icon-wrapper {
            float: right;
            margin-left: $default-padding;
            padding: 0;
        }
        &.btn-block {
            text-align: left;
        }
    }
}

.multi-select-option {
    .checkbox {
        margin: 0;
    }

    .form-group {
        margin: 0;
    }

    label {
        white-space: nowrap;
        display: block;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: $multiSelectBaseLeftGutter;
        padding-right: $grid-gutter-width
    }

    &:hover {
        background-color: $lightestGrayColor;
    }
}

// First tree level paddings
.multi-select-group {
    .multi-select-option label {
        padding-left: $multiSelectBaseLeftGutter + $default-padding;
    }

    .master-option label {
        padding-left: $multiSelectBaseLeftGutter;
    }

    // Second tree level
    .multi-select-group {
        .multi-select-option label {
            padding-left: $multiSelectBaseLeftGutter + $default-padding * 2;
        }

        .master-option label {
            padding-left: $multiSelectBaseLeftGutter + $default-padding;
        }

        // Third tree level
        .multi-select-group {
            .multi-select-option label {
                padding-left: $multiSelectBaseLeftGutter + $default-padding * 3;
            }

            .master-option label {
                padding-left: $multiSelectBaseLeftGutter + $default-padding * 2;
            }

            // TODO: add more levels if needed
        }
    }
}

.rc-select{
    .dropdown-toggle {
        &.btn-block {
            text-align: left;
        }
    }

    .dropdown-menu {
        .filter-wrapper{
            padding: $grid-gutter-width;
            background-color: $dropdown-filter-wrapper-bg-color;
            border-bottom: 1px solid $dropdown-filter-wrapper-border-color;

            .form-group{
                margin-bottom: 0;
            }
        }

        .filter-empty-message{
            padding: $grid-gutter-width;
        }
    }

    .rc-select-option{
        a{
            display: block;
            color: $dropdown-link-color;
            text-decoration: none;

            &:hover{
                color: $dropdown-link-hover-color;
                text-decoration: none;
                background-color: $dropdown-link-hover-bg;
            }
        }

        &.active{
            a{
                background-color: $dropdown-link-active-bg;
                color: $dropdown-link-active-color;

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}
